/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
ext/aerospike_native/Makefile
ext/aerospike_native/aerospike-client-c/
ext/aerospike_native/lib/
ext/aerospike_native/include/

.idea/
aerospike_native.config
aerospike_native.creator
aerospike_native.files
aerospike_native.includes
*.creator.user
run.sh
