/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log

.idea/
aerospike_native.config
aerospike_native.creator
aerospike_native.files
aerospike_native.includes
*.creator.user
run.sh
